:root{
  --main-color:#BEBAD9;
  --white-base: #fff;
  --black-background:#000;
  --secondary-color:#767FB0;
  --accent-color:#A1C084;
  --header-size: 105vw;
  --title-size:3vw;
  --quote-size:3vw;
  --undertitle-size: 1.5vw;
  --content-size:1vw;
  --author-size:0.7vw;
}


