:root{
  --main-color:#BEBAD9;
  --white-base: #fff;
  --black-background:#000;
  --secondary-color:#767FB0;
  --accent-color:#A1C084;
  --header-size: 105vw;
  --title-size:6.2em;
  --quote-size:2rem;
  --undertitle-size: 1rem;
  --content-size:1rem;
  --author-size:0.8rem;
}


