:root{
  --main-color:#BEBAD9;
  --white-base: #fff;
  --black-bacgkround:#000;
  --secondary-color:#767FB0;
  --accent-color:#A1C084;
  /* --header-size: 3em;
  --title-size:1.5em;
  --quote-size:2vw;
  --undertitle-size: 1vw;
  --content-size:0.4em; */
}


